<div class="container px-4 py-5 mx-auto contact">

    <div class="d-flex flex-lg-row flex-column-reverse card-login">
        <div class="card card1 detail-product">

            <div class="row justify-content-center my-auto">
                <div class="col-md-8 col-10 my-5">


                    <div class="form-group text-center">
                        <h2 class="form-control-label ">CONTACTO</h2>
                    </div>
                    <hr class="mb-4" style="border-top: 1px solid rgba(255, 255, 255, 0.281);">

                    <form method="POST" action="/contacto">

                        <!-- To -->
                        <div class='form-group'>
                            <label for='to' class="form-control-label ">Tu email</label>
                            <input name='email' type='email' class='form-control' id='to'>
                        </div>

                        <!-- Subject -->
                        <div class='form-group'>
                            <label for='subject' class="form-control-label ">Asunto</label>
                            <input name='subject' type='text' class='form-control' id='subject'>
                        </div>

                        <!-- Message -->
                        <div class='form-group'>
                            <label for='message' class="form-control-label ">Mensaje</label>
                            <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                        </div>

                        <!--------------- Edit, delete and back button --------------->
                        <button type='submit' class='btn-block btn-color'>Enviar email</button>

                        {{#if successMsg}}
                        <p class="btn btn-white-product form-control" style="background-color: white;">{{successMsg}}</p>
                        {{/if}}

                    </form>


                </div>
            </div>

        </div>
    </div>

</div>
