
{{!-- >>>> HEADER <<<< --}}
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="../videos/world.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="text-center" style="background-color: rgba(0, 0, 0, 0.281); width: 600px; color: white !important; padding: 40px 0; border-radius: 40px; margin: 0 auto">
                <h1 class="display-3" style="margin-top: 0 !important">{{mainTitle}}</h1>
                <p class="lead mb-0">Conoce a gente creativa del sector tecnológico <br> y aumenta tu red de contactos </p>
            </div>
        </div>
    </div>
</header>


{{!-- >>>> SECTION 1 <<<< --}}
<section class="section1 " style="padding-top: 40px; ">
    <div class="container">
        <h1 class="font-weight-light ">¿A qué esperas?</h1>
        <p class="lead" class="">Publica tus productos, date a conocer <br> y conecta con usuarios que te puedan ayudar.</p>
        <a href="/auth/registro" class="btn btn-transparent ml-2">Regístrate aquí</a></p>
    </div>
</section>


{{!-- >>>> SECTION 2 <<<< --}}
<section class="section2" >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One -->
            <div class="carousel-item active" style="background-image: url(../images/phrase.png); filter:opacity(80%)">
                <div class="carousel-caption d-none d-md-block " style="background-color: rgba(0, 0, 0, 0.849); width: 900px; color: white !important; margin: 0px auto 140px">
                    <h3 class="display-4" >¿Cómo funciona?</h3>
                    <p class="lead">Busca a la persona ideal con la que compartas habilidades similares y llevad a cabo proyectos en conjunto.</p>
                </div>
            </div>
            <!-- Slide Two-->
            <div class="carousel-item" style="background-image: url(../images/computer2.png); filter:opacity(90%)">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.692); width: 900px; color: white !important; margin: 0px auto 140px">
                    <h3 class="display-4">¿Para quién?</h3>
                    <p class="lead">Desarrolladores freelance, diseñadores, empresarios, analistas de datos y entusiastas de la tecnología con mentalidad creativa que crean productos e innovan rompiendo el status quo.</p>                    
                </div>
            </div>
            <!-- Slide Three-->
            <div class="carousel-item" style="background-image: url(../images/texture3.png); filter:opacity(90%)">
                <div class="carousel-caption d-none d-md-block " style="background-color: rgba(0, 0, 0, 0.281); width: 890px; color: white !important; margin: 0px auto 140px !important">
                    <h3 class="display-4">¿Por qué debería unirme a CodeLance?</h3>
                    <p class="lead">Creemos que todo creador necesita un socio con habilidades complementarias para crear proyectos innovadores. CodeLance
                    ofrece una forma divertida de construir tu red y encontrar tu próximo colaborador.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>  

{{!-- >>>> FOOTER WITH PARTIALS <<<< --}}
{{>footerPartial}}

