body {
  color: black;
  font-family: serif;
  min-height: 110vh;
  background-color: #1a0b49;
  background-image: linear-gradient(to right, #1f073f, #49396b, #766e98, #a8a5c5, #dfe0f3); }

h1 {
  margin-top: 100px; }

.navbar {
  transition: all 0.4s; }

.navbar .nav-link {
  color: rgba(255, 255, 255, 0); }

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgba(255, 255, 255, 0);
  text-decoration: none; }

.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0); }

/* Change navbar styling on scroll */
.navbar.active {
  background: black;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1); }

.navbar.active .nav-link {
  color: white; }

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: whit;
  text-decoration: none; }

.navbar.active .navbar-brand {
  color: white; }

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: black; }
  .navbar .navbar-brand, .navbar .nav-link {
    color: white; } }

.text-small {
  font-size: 0.9rem !important; }

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

header .container {
  position: relative;
  z-index: 2; }

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1; }

@media (pointer: coarse) and (hover: none) {
  header video {
    display: none; } }

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.profile-container {
  margin-top: 90px; }

.profile-head {
  transform: translateY(5rem); }

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat; }

#usersMap {
  background-color: red;
  height: 300px;
  margin-bottom: 20px; }

.photo-searchbar {
  list-style: none;
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 20px;
  align-items: center;
  background-color: #e9edf0;
  padding: 30px 50px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  width: 445px; }

.author {
  font-size: 25px;
  margin-left: 20px;
  color: #75818e; }

.photo-searchbar img {
  border-radius: 5px;
  width: 200px; }

.input-container {
  border-radius: 5px;
  background: #677482;
  padding: 10px; }

.input-container input {
  border: none;
  background: transparent;
  color: white;
  padding: 6px 15px;
  font-size: 18px;
  width: 520px; }

.input-container ::placeholder {
  color: #a6b0ba;
  opacity: 1; }

.photo {
  list-style: none;
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 20px;
  align-items: center;
  background-color: #e9edf0;
  padding: 30px 50px;
  border-radius: 5px;
  border: 1px solid #e3e3e3; }

.author {
  font-size: 25px;
  margin-left: 20px;
  color: #75818e; }

.photo img {
  border-radius: 5px;
  width: 200px; }

.photo-animated {
  transition: all 0.5s; }

.list-animation-enter, .list-animation-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.list-animation-leave-active {
  position: absolute; }

.btn-ultra-voilet {
  background: #654ea3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaafc8, #654ea3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f6effa;
  border: 3px solid #f6eafc; }

.btn-rounded {
  border-radius: 35px; }

input {
  background-color: #F3E5F5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400; }

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #654ea3 !important;
  outline-width: 0;
  font-weight: 400; }

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0; }

.card-signup {
  margin-top: 50px; }

.card {
  border-radius: 0;
  border: none;
  margin: 0 auto; }

.card1 {
  width: 100%;
  padding: 0px 30px 0px 30px;
  margin: 0 auto; }

.card2 {
  width: 100%;
  background-image: linear-gradient(to right, #654ea3, #d1d1e8); }

.card-login {
  margin-top: 200px; }

#logo {
  width: 170px;
  height: 175px; }

.heading {
  margin-bottom: 60px !important; }

::placeholder {
  color: #000 !important;
  opacity: 1; }

:-ms-input-placeholder {
  color: #000 !important; }

::-ms-input-placeholder {
  color: #000 !important; }

.form-control-label {
  font-size: 14px;
  margin-left: 15px; }

.form-control {
  background-color: #e8f0fe; }

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px; }

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #654ea3, #f3e7ff);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 15px; }

.btn-color:hover {
  color: #fff;
  background-color: white;
  background-image: linear-gradient(to right, #f3e7ff, #654ea3); }

.btn-white {
  border-radius: 50px;
  color: #8472b1;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #8472b1 !important; }

.btn-white:hover {
  color: #8472b1;
  background-image: none; }

a {
  color: #000; }

a:hover {
  color: #000; }

.bottom {
  width: 100%;
  margin-top: 50px !important; }

.sm-text {
  font-size: 15px; }

@media screen and (max-width: 992px) {
  .card1 {
    width: 100%;
    padding: 40px 30px 10px 30px; }
  .card2 {
    width: 100%; }
  .right {
    margin-top: 100px !important;
    margin-bottom: 100px !important; } }

@media screen and (max-width: 768px) {
  .container {
    padding: 10px !important; }
  .card2 {
    padding: 50px; }
  .right {
    margin-top: 50px !important;
    margin-bottom: 50px !important; } }

.btn-red {
  border-radius: 50px;
  color: #a72020;
  background-color: white;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 2px solid #a72020 !important; }

.new-product {
  background-color: white;
  border-radius: 20px;
  width: 80%; }

.btn-white-product {
  border-radius: 50px;
  color: #8472b1;
  background-color: white;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 2px solid #8472b1 !important; }

textarea {
  border-radius: 15px !important;
  background-color: #F3E5F5;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400; }

.form-check-inline {
  display: block; }

/*# sourceMappingURL=style.css.map */