<div class="container">
    <div class="row">

        <div class="col-md-5">
            <h1>{{title}}</h1>
            <p>{{date}}</p>
            <hr>
            <h4>Descripción</h4>
            <p>{{description}}</p>
        </div>

    </div>
 
    <a href="/productos/editar?id={{id}}" class="btn btn-block btn-color">Editar</a>

    <a href="/usuario" class="btn btn-white-product form-control">Volver atrás</a>

</div>